# Flask i extensions
flask
flask-sqlalchemy
flask-marshmallow

# ORM i serialització
marshmallow-sqlalchemy

# Base de dades
psycopg2-binary

# Scraping
beautifulsoup4
requests
playwright

# Geolocalització
geopy

# Entorn i configuració
python-dotenv

# Deploy
gunicorn
