# Flask i extensions
flask
flask-sqlalchemy
flask-marshmallow

# Serialització
marshmallow-sqlalchemy

# Base de dades
psycopg2-binary

# Scraping
beautifulsoup4
requests
playwright

# Entorn
python-dotenv

# Altres
geopy
gunicorn
