<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BravaHaus</title>
    <link rel="stylesheet" href="static/css/estils.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>BravaHaus</h1>
            <nav>
                <ul>
                    <li><a href="/">Inici</a></li>
                    <li><a href="/afegir">Afegeix un immoble</a></li>
                    <li><a href="/llistat">Consulta els immobles</a></li>
                    <li><a href="/scraping">Scraping</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="property-list">
            <div class="property-card">
                <img src="static/images/property1.avif" alt="Imatge de la propietat">
                <div class="property-details">
                    <h2>Apartament modern</h2>
                    <p><span class="icon">📍</span> Ubicació: Barcelona</p>
                    <p><span class="icon">💰</span> Preu: 250.000 €</p>
                    <p><span class="icon">🏠</span> Superfície: 80m²</p>
                    <p><span class="icon">🛏️</span> Habitacions: 2 | <span class="icon">🛁</span> Banys: 1</p>
                </div>
                <button>Veure detalls</button>
            </div>

            <div class="property-card">
                <img src="static/images/property2.avif" alt="Imatge de la propietat">
                <div class="property-details">
                    <h2>Estudi acollidor</h2>
                    <p><span class="icon">📍</span> Ubicació: Girona</p>
                    <p><span class="icon">💰</span> Preu: 120.000 €</p>
                    <p><span class="icon">🏠</span> Superfície: 50m²</p>
                    <p><span class="icon">🛏️</span> Habitacions: 1 | <span class="icon">🛁</span> Banys: 1</p>
                </div>
                <button>Veure detalls</button>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 BravaHaus. Tots els drets reservats.</p>
        </div>
    </footer>
</body>

</html>


